@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@theme {

    --error: #E07A7A;
    --info: #4A90E2;
    --info-hover: #3777C6;
    --primary: #8C3D87;
    --primary-hover: #732F6F;
    --secondary: #AABBC4;
    --secondary-hover: #C3D0DB;
    --success: #5BAE73;
    --warning: #E7C46C;
    --warning-hover: #D1AD5A;
    --warning-error: #CC6666;
    --sections: #FAF9F6;
    --border: #D6D6D6;
    --letter: #333333;
    --background: #F2F2F2;
    --sections-hover: #E8E6E3;
}